/* Footer Styles */
footer {
  background: #2c2c2c;
  color: #fff;
  padding: 30px 0;
  margin-top: 10px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-section {
  flex: 1;
  min-width: 50px;
  margin: 20px 0;
}

.footer-section:nth-child(1) { /* Target the About Newsgenie section */
  flex: 2; /* Make it take up more space compared to others */
  padding-right: 20px; /* Add some space on the right for better layout */
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #ff5722;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
  color: #ccc;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #ff5722;
}

/* Social Media Icons */
.social-icons a {
  margin-right: 15px;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ff5722;
}

/* Legal Section */
.legal {
  background: #1b1b1b;
  color: #ccc;
  padding: 15px 0;
  margin: auto;
}

.legal .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.legal p {
  font-size: 14px;
  margin: auto;
}

.contributors {
  text-align: left;
  font-size: 14px;
}

.contributors h3 {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #ff5722;
}

.contributors ul {
  list-style: none;
  padding: 0;
}

.contributors ul li {
  margin: 5px 0;
  font-size: 1rem;
}

.contributors ul li a {
  color: white;
  text-decoration: none;
}

.contributors ul li a:hover {
  color: #ff5722;
  text-decoration: underline;
}
